.button-container {
  text-decoration: none;
    min-width: 100px;
    width: auto;
    height: 40px;
    padding: 0 25px 0 25px;
    font-size: var(--sm);
    color: white;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #ccc;
  
    &:hover {
      background-color: white;
      color: black;
    }
  
    &.active {
      background-color: var(--bg-dark);
      color: white;
  
      &:hover {
        background-color: #357ae8;
      }
    }
  
    &.inactive {
      background-color: white;
      color: #0f1419;
  
      &:hover {
        background-color: rgb(196, 196, 254);
      }
    }
  }
  