.profile-picture-container {
    border-radius: 50%;
    border: 7px solid #fff;
    background-color: #ccc;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: -100px;
    overflow: hidden;

    .profile-picture {
        width: 100%;
        height: auto;
    }
}