.header-background {
  background-color: var(--bg-dark);
  height: 200px;
}

.header-elements-container {
  padding: 0 20px;

  .element-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    color: var(--text-dark);
    font-size: var(--sm);

    p {
      text-align: justify;
    }

    p span {
      font-size: var(--sm);
      font-weight: 600;
      margin-right: 12px;
    }

    .media-container {
      a {
        text-decoration: none;
        font-size: var(--sm);
        color: var(--text-dark);
        margin: 0 8px;
  
      }
    }
  }
}

@media (max-width:640px) {
  .header-elements-container {
  
    .element-container {
      flex-direction: column;
      font-size: var(--extra-sm);
  
      p span {
        font-size: var(--extra-sm);
        font-weight: 600;
        margin-right: 12px;
      }

      .media-container {
        text-align: center;
        padding-top: 24px;
      }
    }
  }

}