.header-background {
  background-color: var(--bg-dark);
  height: 200px;
}

.header-elements-container {
  padding: 0 20px;

  .element-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    color: var(--text-dark);
    font-size: var(--sm);

    p {
      text-align: justify;
    }

    p span {
      font-size: var(--sm);
      font-weight: 600;
      margin-right: 12px;
    }

    &.resume {
      justify-content: end;
      margin-top: -50px;
      
    }
  }
}
