.header-container {
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  .header-background {
    background-color:  rgb(196, 196, 254);;
    height: 200px;
  }

  .header-elements-container {
    padding: 20px;

    .element-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;

      .bio {
        color: #444;
      }
    }
  }
}
